<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".IptvClient"
        android:allowBackup="true"
        android:banner="@drawable/ic_launcher_foreground"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPTVClient"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".controller.homeScreen.MainNavActivity"
            android:exported="false"
            android:label="@string/title_activity_buttom_nav" />
        <activity
            android:name=".controller.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".legacy.MainActivityOld"
            android:exported="false" />
        <activity
            android:name=".controller.contentInfo.OverviewActivity"
            android:exported="false" />
        <activity
            android:name=".controller.gallery.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".legacy.category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".controller.simplePlayer.SimplePlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".controller.player.PlayerActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />
    </application>

</manifest>